

<div class="uk-child-width-1-1@s" uk-grid>
    <div>
        <div class="uk-background-cover uk-height-large uk-panel uk-flex-center uk-flex-middle"
            style="background-image: url(../../assets/bbb.jpg);">
            <div class="uk-section uk-light">
                <div class="uk-container">
                    <br><br>
                <h2 class="uk-text-bold uk-text-center"><b>Placing an order at Recharge.com is nothing to worry abouts</b></h2>
                  
                </div>
             </div>
        </div>
    </div>
    </div> 
    
<br><br>
    <div class="uk-column-1-2 ">
        <p>Let’s start at the beginning. We make it possible for you to refill phone credit all over the whole world in only 3 steps. This can be your own credit, or that of friends and family. Of course we could explain how Recharge.com works, but we don’t think you were looking for that. We googled ourselves (yes, we really did) and found some questions from customers:</p>
        <ul>
            <li>"How safe is Recharge.com?”
            </li>
            <li>"How do I refund my order of Recharge.com?”
            </li>
            <li>“Does Recharge.com have a customer service?”</li>
            </ul>
        
            <p>That’s why we want to discuss the most frequently questions on fluctuating prices, failed payments, refunds and data credit. Your insecurities will vanish into thin air.</p>
        
           <p><b>Can I refund my order myself?</b></p>
       
        
           <p>Of course you can! Sometimes it takes a little while before the refill is completed, this could have multiple reasons. Like a disturbance at the provider or when there are too many refills at the same time, we will let you know by email if this is the case. If you think it’s taking too long you can decide if you want to refund your order. You can do this through the link that’s in the email regarding the delay.</p>
    <p>Also, if you recharge with a recharge code, this should always work perfectly. Is your code not working? Then contact our Customer Care Team. They can help you with your code. If you received the wrong code, they will take the code back. In this case, one of our Customer Care colleagues will tell you how to return your code, since this can differ from case to case.</p>
        </div>
        <div class="uk-column-1-2 ">
<p><b>How safe is Recharge.com?</b></p>
<p>We can’t wait to tell you! Recharge.com was set up in 2013 and is a part of Creative Group. From our HQ in the Netherlands, we’re here for you 24/7.</p>
<p><b>My order has failed, but the money was deducted from my account. How can I get my money back?
     </b></p>
     <p>It can happen that there’s a disturbance at the provider, or that for a provider only a certain amount of international refills are allowed. As you can see, there are multiple reasons why your refill can fail. If your direct refill fails, for whatever reason, you can request a refund of the entire amount (including the service fee).</p>
     <p>When we do this, it’s possible that the amount remains reserved on your creditcard. But don’t worry, this will be added to your balance automatically. When you pay with creditcard it can take 3-4 working days until you receive the amount back in your account.</p>
     <p>

     </p>
     <br>
     <p></p>
<p><b>How can the amount I pay differ from the amount of credit that I receive?</b></p>
<p>This has to do with the exchange rate. Think of:</p>
<ul>
    <li>Slightly unfavorable exchange rates
    </li>
    <li>A refill for a higher amount in comparison to a lower amount could be cheaper
    </li>
    </ul>
    <p>Do we guarantee you get the best price? We sure do! But we’re always dependent on our supplier. You always receive the amount of credit indicated on our website, that’s a fact.</p>
<p><b>I refilled my credit, why can’t I use the internet?</b></p>     
<p>We understand the confusion. Time to clear things up. When you place an order with us, you order phone credit. It’s all up to the provider if you can use the internet or not with this credit. Unfortunately, we can’t change that. Contact your provider if you want to know more.

    Are things still unclear to you after reading this? Please don’t hesitate to contact our customer care. There’s always a colleague ready to answer all your questions in English, or even in German, Dutch, French and Spanish as well.</p>  
</div>
<p uk-margin>
    
    <button class="uk-button uk-button-primary uk-button-center uk-button-large"><b>REFILL NOW</b></button>
    
</p>



<div class="taxon-info">
    <div class="main-info-block">
      <div class="taxon-customer-care row" id="customer_care_block">
  <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-0">
    <img src="assets/fg.png" alt="Sophie 5b75317e49" />
  </div>
  <div class="col-xs-18 col-sm-0">
    <h2>Need advice or help?</h2>
    Please check our <a href="/faq" >Frequently Asked Questions.</a>
  </div>
</div>
<br>