<div class="uk-child-width-1-1@s" uk-grid>
    <div>
        <div class="uk-background-cover uk-height-large uk-panel uk-flex-center uk-flex-middle"
            style="background-image: url(../../assets/about.jpg);">
            <div class="uk-section uk-light">
                <div class="uk-container">
                    <br><br>
                <h2 class="uk-text-bold uk-text-center"><b>About us</b></h2>
                  
                </div>
             </div>
        </div>
    </div>
    </div> 
    



    <div class="uk-section uk-padding">
        <div class="uk-container">
            <h2 class="uk-text-left"><span><b>Online Recharge.com and Rapido.com have joined forces.</b></span></h2>
        <br>
            <p  class="uk-text-medium uk-text-justify">You know Online Recharge.com as the go-to place for international mobile top-up. Now we have joined forces with Rapido.com – the comprehensive store for prepaid digital codes

                For you this means soon, in addition to being able to recharge a phone anywhere in the world, we will be adding products enabling you to get a digital prepaid code for your favourite entertainment service, game or online shop.
                
                It’s as safe, fast and simple as always. Only, better.</p>

                <h2 class="uk-text-left"><span><b>Recharge credit worldwide in seconds</b></span></h2>
                <p  class="uk-text-leftuk-text-medium uk-text-justify">Here at Online Recharge.com, we believe in living on your own terms. Whether you want to buy call credit, enjoy your favourite tv shows and music, or play games, you should do it your way. That means from anywhere, at any time, using whatever payment method you prefer. You’re in charge.

                    Digital prepaid credit lets you enjoy the things you like on your terms. And we’ve made it our mission to ensure that buying digital credit is fast, safe and simple.</p>
       
                    <h2 class="uk-text-left"><span><b>The people behind Online Recharge.com</b></span></h2>
       
                    <p  class="uk-text-medium uk-text-justify"> Since it all started in 2002, we’ve grown a lot. From a small group of enthusiasts that could fit in a single room, we’ve become a global team of 100+ people. You’ll find us in our Amsterdam office.

                        We’re bound together by our passion to make people’s lives easier. That’s the one thing that’s never going to change, however fast we grow.</p>


                        <h2 class="uk-text-left"><span><b>Why choose Online Recharge.com</b></span></h2>
       
                        <p  class="uk-text-medium uk-text-justify"><b>Pay safely & securely:</b> Order in seconds using your favourite payment method.</p>
                        <p  class="uk-text-medium uk-text-justify"><b>Instant digital delivery:</b> You’ll be able to use your digital credit within seconds.
 </p>                       
                            <p  class="uk-text-medium uk-text-justify"><b>Trusted by millions:</b> We’re proud to have over 5 million customers worldwide.</p>

                </div>
        </div>  



<div class="taxon-info">
    <div class="main-info-block">
      <div class="taxon-customer-care row" id="customer_care_block">
  <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-0">
    <img src="assets/fg.png" alt="Sophie 5b75317e49" />
  </div>
  <div class="col-xs-18 col-sm-0">
    <h2>Need advice or help?</h2>
    Please check our <a href="/faq" >Frequently Asked Questions.</a>
  </div>
</div>

<br><br>