
  
  /* Add styles to the form container */
  .container {
  
    position: center;
    right: 0;
    top: 80px;
    margin: 20px;
   
    margin-left: 400px;
    max-width: 400px;
    
    padding: 46px;
    background-color: rgb(220, 230, 233);
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  
  .btn1 {
    background-color: #00E070;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
 /* Text Color */
.text-whitesmoke {
  color: rgb(15, 15, 15)
}
.text-darkyellow {
  color:rgb(26, 9, 255)
}

.fa {
  padding: 20px;
  font-size: -30px;
  width: 0px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}


ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0
}

ul.social-network li {
  display: inline;
  margin: 0 5px
}

.social-network a.icoFacebook:hover {
  background-color: #3B5998
}

.social-network a.icoTwitter:hover {
  background-color: #33ccff
}

.social-network a.icoGoogle:hover {
  background-color: #BD3518
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i {
  color: rgb(10, 0, 0)
}

a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 80px;
  height: 80px;
  font-size: 20px
}

.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center
}

.social-circle li a:hover i,
.triggeredHover {
  transform: rotate(360deg);
  transition: all 0.2s
}

.social-circle i {
  color: rgb(10, 1, 1);
  transition: all 0.8s;
  transition: all 0.8s
}


.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
  .container1 {
    position: absolute;
    right: 0;
    top: 100px;
    margin: 20px;
    left: 400px;
    max-width: 400px;
    padding: 46px;
    background-color: white;
  }