<div class="uk-child-width-1-1@s" uk-grid>
  <div>
      <div class="uk-background-cover uk-height-large uk-panel uk-flex-center uk-flex-middle"
          style="background-image: url(../../assets/bbb.jpg);">
          <div class="uk-section uk-light">
              <div class="uk-container">
                  <br><br>
          
                
              </div>
           </div>
      </div>
  </div>
  </div> 
  
<br>
<br>

    <form action="now" class="container">
      <h1>Sign Up</h1>


  

      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="email" required>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="email"><b>Password</b></label>
      <input type="password" placeholder="Enter  Password" name="psw" required>

      <label for="psw"><b>conform Password</b></label>
      <input type="password" placeholder="Enter conform Password" name="psw" required>
 
  
      <button  class="btn1 uk-button uk-button-small"><a href="now"></a> <B>Sing Up</B></button>

      <p class="text-whitesmoke text-center"><small><b>Do you have an account already.</b></small>&nbsp;
      <a class="text-darkyellow" href="now"><small>Login</small></a></p>
      
  
    </form>
    

