<div class="uk-invisible@m uk-sticky uk-sticky-fixed"
    uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky"
    style="position: fixed;top:0px;width:1519px;">

    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left ">
            <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
            <a class="uk-navbar-item uk-text-bold uk-logo" href="/">
                WebSOulLabs Recharge.com
            </a>
        </div>

        <div class="uk-navbar-right ">
            <ul class="uk-navbar-nav uk-visible@s">
                <li class="uk-active ">
                    <a class="uk-text-small uk-text-capitalize" href="#"><b>About Us</b></a>
                    <div class="uk-navbar-dropdown uk-width-small sub-menu">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active "><a href="aboutus">About Us</a></li>
                            <li class="uk-nav-divider"></li>
                            <li class="uk-active "><a href="car">Carriers</a></li>
                            <li class="uk-nav-divider"></li>
                            
                            <li class="uk-active "><a href="saf">Safety</a></li>
                            
                        </ul>
                    </div>
                </li>

             

                <li class="uk-active"><a class="uk-text-small uk-text-capitalize" href="customer"> <b>Customer Care</b></a></li>
                <li class="uk-active uk-icon-user"><a class=" uk-text-small uk-text-capitalize" href="now"><b>My Account</b></a></li>
                

            </ul>
        </div>
    </nav>
