
<div class="uk-child-width-1-1@s" uk-grid>
    <div>
        <div class="uk-background-cover uk-height-large uk-panel uk-flex-center uk-flex-middle"
            style="background-image: url(../../assets/bbb.jpg);">
            <div class="uk-section uk-light">
                <div class="uk-container ">
                    <br><br>
                <h1 class="uk-heading-Small uk-text-center"><b>Worldwide mobile recharge: send <br>credit and data to any phone</b></h1>
                  
                </div>
             </div>
          
               
                <div class="uk-container-small">
                    <form class="uk-grid-small" uk-grid>
                      
                        <div class="uk-child-width-1-1" >
                        
                            <input  type="text"
                             ng2TelInput (hasError)="hasError($event)" 
                             (intlTelInputObject)="telInputObject($event)" 
 (countryChange)="onCountryChange($event)" />
                        </div>
                        <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large "><b>Start Recharge</b></button>
                        
                    </form>
               
            </div>
        </div>
    </div>
    </div> 
    <div class="uk-background-muted uk-padding uk-panel">
<!-- Targets the SVG image -->
<div class="uk-con">
 <img  src="../assets/dd.png" width="200" height="200" uk-svg>

 <img  src="../assets/cc.png" width="200" height="200" uk-svg>



 <img  src="../assets/nn.png" width="200" height="200" uk-svg>
</div>




    <div class="uk-height-medium uk-flex uk-flex-Right uk-flex-middle uk-background-cover uk-light" data-src="assets/gg.jpg" uk-img>
        <div class="taxon-usps">
            <div class="taxon-usp money-back">
              <span class="taxon-icon icon-price-ribbon"></span>
             <b> Instant digital delivery</b>
            </div>
            <div class="taxon-usp safe-payment">
              <span class="taxon-icon icon-lock"></span>
            <b>Trusted by millions</b>
            </div>
            <div class="taxon-usp low-costs">
              <span class="taxon-icon icon-ticket"></span>
            <b>Pay safely &amp; securely</b>
            </div>
          </div>
           
      </div>
      <br><br>
      <h2 class=" uk-text-left"><b>Information about Online Recharge.com </b>  </h2>
     
      <div class="uk-child-width uk-grid-small" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-small">
                <div class="uk-text-center@s uk-card-body">
                    <h3 class="uk-heading-divider  uk-text-left">What is Online Recharge.com?</h3>
                  <p> No matter how many borders you cross, thanks to Recharge’s fast and safe service, you’ll easily stay in touch with one another. Recharge yours or someone else’s call credit or data 24/7 in over 140 countries....... Depending on the product you choose, we’ll directly send the credit to your phone or as a recharge code by email. We make sure you’ll always stay connected.</p>
               <div class="more">

<div class=" uk-text-left">
<a href="#">Read more</a>               </div>
               
               
                </div>

            </div>
        </div>
        </div>
    </div>
        <div class="uk-child-width uk-grid-small" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-card-small">
                    <div class="uk-text-center@s uk-card-body">
                        <h3 class="uk-heading-divider  uk-text-left">  How does the mobile recharge work?</h3>
                      <p class=" uk-text-left"> Recharge phone credit or data in four simple steps</p>
                   <div class="more">
                  
                   
                    <div class=" uk-text-left">
    
    <a href="#">Read more</a>               </div>
                   
                   
                    </div>
    
                </div>
            </div>
            </div>
            </div>
            <div class="uk-child-width uk-grid-small" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small">
                        <div class="uk-text-center@s uk-card-body">
                            <h3 class="uk-heading-divider  uk-text-left"> Make safe and secure payments</h3>
                          <p class=" uk-text-left">  We make sure the information you give is secured</p>
                       <div class="more">
                       
                       
                        <div class=" uk-text-left">
        <a href="#">Read more</a>               </div>
                       
                       
                        </div>
        
                    </div>
                </div>
                </div>
                </div>
                
  <div class="taxon-info">
    <div class="main-info-block">
      <div class="taxon-customer-care row" id="customer_care_block">
  <div class="col-xs-3 col-xs-offset-1 col-sm-2 col-sm-offset-0">
    <img src="assets/fg.png" alt="Sophie 5b75317e49" />
  </div>
  <div class="col-xs-18 col-sm-0">
    <h2>Need advice or help?</h2>
    Please check our <a href="/faq" >Frequently Asked Questions.</a>
  </div>
</div>

    </div>
  </div>