<div class="uk-child-width-1-1@s" uk-grid>
  <div>
      <div class="uk-background-cover uk-height-large uk-panel uk-flex-center uk-flex-middle"
          style="background-image: url(../../assets/bbb.jpg);">
          <div class="uk-section uk-light">
              <div class="uk-container">
                  <br><br>
          
                
              </div>
           </div>
      </div>
  </div>
  </div> 
  
<br>
<br>

<form action="login" class="container">
  
<h1>Login</h1>



  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" name="email" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="psw" required>

  <button  class="btn1 uk-button uk-button-small"><a href="users"></a> <B>Login</B></button>
  <a class="text-darkyellow" href="#"><small>Forgot your password?</small></a>
  <p class="text-whitesmoke text-center"><small><b>Do not have an account?</b></small>&nbsp;
  <a class="text-darkyellow" href="sign"><small>Sign Up</small></a></p>
  
  <div class="col-md-12 ">
    <div class="login-or">
       <hr class="hr-or">
       <span class="span-or">or</span>
    </div>
 </div>



  <h4 class=" text-center"><small><b>Signup With Social Meadia</b></small></h4>

  <ul class="social-network social-circle">
  
    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>

</ul>

</form>


<br><br>