.uk-search{
    margin-left: 380px;
    margin-top: 100px;

    margin-bottom: 100px;
}


.uk-card-hover{
   background-color:#00E070;
   text-decoration: none;
  border: black;
    
}
.uk-grid {
    margin-left: 26px;
    margin-right: 111px;
}