

    <div>
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">
        
                <div class="uk-navbar-item">
                    <form class="uk-search uk-search-large uk-search-default">
                        <span uk-search-icon></span>
                        <input class="uk-search-input" type="search" placeholder="Search...">
                    </form>
                </div>
        
            </div>
        </nav>
    </div>
    <div class="uk-child-width-1-3@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><b>The first steps at Recharge.com</b></h3>
              

            </div>
        </div>
      


        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">
                  <b>  Recharge
                  </b></h3>
              
            </div>
        </div>



        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><b>Placing an order</b></h3>
           
            </div>
        </div>




        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><b>Payment
                   </b></h3>
                

            </div>
        </div>




        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"> <b>Using your phone credit
                  </b></h3>
                
            </div>
        </div>

            <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><b>  Your account and preferences</b>></h3>
             
            </div>
        </div>
    </div>
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title"><b>Cancelation
                 
                    </b></h3>
              

            </div>
        </div>
      


        <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body">
                <h3 class="uk-card-title">
                  <b>     Safety
                  </b></h3>
              
            </div>
        </div>
</div>
    <br>
  