.uk-navbar{
    background-color:white;

}
.uk-form-stacked{
    margin-left: 450px;
    margin-right: 550px;
    margin-top: 90px;
}
.uk-text-normal{
    font-size: 20px;    
}
.uk-navbar-dropdown-nav .uk-dropdown-right-top {
    top: 0px !important;
     min-height: 100%;
}
.uk-width-medium
{
  
    line-height: 2.8rem;
   
}
.uk-width-small
{
    width: 15%;
    line-height: 2.8rem;
    min-height: 100%;
}
.uk-navbar-right
{
    margin-right: 16%;
}
.uk-text-small
{
    font-size: 20px;
}
ul li{
    font-size: 15px;
}
